*.pyc
*.pyd
*.dll
*.user
*.pdb
*.exe

/python.bat
/PC/pythonnt_rc.h
/PC/python_nt.h

.vs
/PCbuild/make_versioninfo
/PCbuild/obj
/PCbuild/PGInstrument
/PCbuild/PGUpdate
/PCbuild/win32-pgo
/PCbuild/x86-temp-release/make_versioninfo
